{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "react",
      "react-hooks",
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "react/no-unknown-property": "off",
      "@typescript-eslint/no-non-null-assertion": "off"
    }
}